*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'PT Sans', sans-serif;
}

.row{
    display: flex;
}

.container{
    max-width: 480px;

    padding:20px 32px;

    margin-left: auto;
    margin-right: auto;
}

.col{
    width: 100%;
}
/* nav */

nav{
    background-color: #0084fd;

    margin-bottom: 50px;
}

nav .row{
    justify-content: space-between;
}

nav .menu{
    font-size: 18px;
}


/* fine nav */


/* header */
header{
    background-color: blueviolet;
        /* test */

        margin-bottom: 80px;
}

header .row{
    flex-wrap: wrap;
    gap:24px;
}


.text-box{
    height: 180px;
    background-color: cadetblue;
    /* text */
}

.img-box{
    height: 180px;
    background-color: burlywood;
    /* text */
}

/* fine header */



/* section planning */

.planning{
    background-color: #9792e4;
    padding-bottom:62px;

    margin-bottom: 68px;
}

.planning .row{
    flex-wrap: wrap;

    gap:24px;
}

.planning .col:nth-of-type(2){
    background-color: white;
    /* test */
}

.planning .col:nth-of-type(2) .img-box, .planning .col:nth-of-type(2) .text-box{
    height: 90px;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    /* test */
}

/* fine section planning */


/* testimonials */

.testimonials{
    margin-bottom: 112px;
}

.testimonials .row{
    flex-wrap: wrap;
    gap:32px;
}

/* fine testimonials */


/* benefits */

.title{
  
    width: 100%;
    height: 50px;
    background-color: red;
    /* test */
}

.benefits{
    background-color: #9792e4;

    margin-bottom: 92px;
}

.benefits .container{
    padding:75px 32px 64px;
}



.benefits .row{
    flex-wrap: wrap;
    gap:32px;
}

/* fine benefits */

/* about us */

.about-us{
    margin-bottom: 80px;
}

.about-us .row{
    flex-wrap: wrap;
    gap:54px;
}

.about-us .container{
    padding-top: 0;
    padding-bottom: 0;
}

/* fine about us */


/* get start */

.get-start{
    background-color: #9792e4;
}

.get-start .container{
    padding-top: 68px;
    padding-bottom: 65px;
}

/* fine get start */


/* footer */

footer{
    background-color: #333333;
}

/* fine footer */







/* 

responsive

*/


@media screen and (min-width: 768px){

.container{
    max-width: 991px;
}
/* header */

header .col{
    width: calc(100% / 3 - 24px / 3 * 2);
}

header .col:first-of-type{
    width: calc((100% / 3 - 12px / 3) * 2);   /* calcolo della grandezza deel primo quadrato dell'header */
}


/* testimonials */

.testimonials .col{
    display: flex;
    justify-content: space-between;
}

.testimonials .img-box{
    width: 30%;
}

.testimonials .text-box:first-of-type{
    width: 100%;
}


.testimonials .text-box{
    width: 70%;
}


/* benefits */

.benefits .col{
    width:calc(100% / 2 - 32px / 2)
}


/* about us */

.about-us .col:first-of-type{
    width: calc(60% - 27px);

}

.about-us .col:nth-of-type(2){
    width: calc(40% - 27px);
}

}



@media screen and (min-width: 1200px){

    .container{
        max-width: 1200px;
    }
    
    /* planning */
    
    .planning .row{
        align-items: flex-end;
    }

    .planning .col{
        width: calc(50% - 12px);
    }
    
    /* benefits */
    
    .benefits .col{
        width:calc(100% / 3 - 32px / 3 * 2);
    }
    
    }



/* 

fine responsive

*/











/* test */

.img-box::after{
    content:'immagine';
}

.text-box::after{
    content:'testo';
}


.title::after{
    content:'titolo';
}


/* fine test */