*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'PT Sans', sans-serif;
}

.row{
    display: flex;
}

.container{
    max-width: 480px;

    padding:20px 32px;

    margin-left: auto;
    margin-right: auto;
}

/* nav */

nav{
    background-color: #0084fd;

    margin-bottom: 50px;
}

nav .row{
    justify-content: space-between;
}

nav .menu{
    font-size: 18px;
}


/* fine nav */


/* header */
header{
    background-color: blueviolet;
        /* test */

        margin-bottom: 80px;
}

header .row{
    flex-direction: column;
    gap:24px;
}

header .col{
    width: 100%;
}

.text-box{
    height: 180px;
    background-color: cadetblue;
    /* text */
}

.img-box{
    height: 180px;
    background-color: burlywood;
    /* text */
}

/* fine header */



/* section planning */
/* fine section planning */
