*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'PT Sans', sans-serif;
}

.row{
    display: flex;
}

.container{
    max-width: 480px;

    padding:20px 32px;

    margin-left: auto;
    margin-right: auto;
}

.col{
    width: 100%;
}
/* nav */

nav{
    background-color: #0084fd;

    margin-bottom: 50px;
}

nav .row{
    justify-content: space-between;
}

nav .menu{
    font-size: 18px;
}


/* fine nav */


/* header */
header{
    background-color: blueviolet;
        /* test */

        margin-bottom: 80px;
}

header .row{
    flex-direction: column;
    gap:24px;
}


.text-box{
    height: 180px;
    background-color: cadetblue;
    /* text */
}

.img-box{
    height: 180px;
    background-color: burlywood;
    /* text */
}

/* fine header */



/* section planning */

.planning{
    background-color: #9792e4;
    padding-bottom:62px;

    margin-bottom: 68px;
}

.planning .row{
    flex-direction: column;

    gap:24px;
}

.planning .col:nth-of-type(2){
    background-color: white;
    /* test */
}

.planning .col:nth-of-type(2) .img-box, .planning .col:nth-of-type(2) .text-box{
    height: 90px;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    /* test */
}

/* fine section planning */


/* testimonials */

.testimonials{
    margin-bottom: 112px;
}

.testimonials .row{
    flex-direction: column;
    gap:32px;
}

/* fine testimonials */

















/* test */

.img-box::after{
    content:'immagine';
}

.text-box::after{
    content:'testo';
}

/* fine test */